* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Anton', sans-serif;
  overflow-x: hidden;
  width: 100%;
  background-color: #000;
  color: #a8a8a8;
}

header {
  background-color: #111;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #ffba4c;
  padding: 2rem;
  font-size: 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

nav {
  padding: 1rem;
  width: 100%;
  max-width: 600px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #a8a8a8;
  font-weight: bold;
  text-decoration: none;
}

h2 {
  color: #fff;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  margin-bottom: 1em;
}

.input-area {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 2rem;
}

input {
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 20px 0px 0px 20px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #ffba4c;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 0px 20px 20px 0px;
}

section {
  position: relative;
  padding: 2rem 0;
  padding-top: 60px;
  margin-top: -60px;
}

section .movies {
  padding: 0 2rem;
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.pagination {
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#movies-con .movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.movie-card {
  position: relative;
  width: 100%;
  padding-top: 150%; /* 2:3 비율 유지 */
  overflow: hidden;
  margin-bottom: 1rem;
}

.movie-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  transition: transform 0.3s ease;
}

.movie-card:hover .movie-image {
  transform: scale(1);
}

.movie-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.movie-card:hover .movie-overlay {
  transform: translateY(0);
}

.movie-title {
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-rates,
.movie-release-date {
  font-size: 1rem;
  color: #ffba4c;
}

#recent-movies {
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
}

#recent-movies .movies-container {
  display: flex;
  transition: transform 0.5s ease;
}

#recent-movies .slide {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-shrink: 0;
}

#recent-movies .movie-item {
  width: 30%;
  margin: 0 10px;
  position: relative;
  padding-top: 45%; /* 2:3 비율 유지 (30% * 1.5) */
  overflow: hidden;
}

#recent-movies .movie-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
}

#recent-movies .movie-item:hover .movie-image {
  transform: scale(1.05);
}

#recent-movies .movie-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

#recent-movies .movie-item:hover .movie-overlay {
  transform: translateY(0);
}

#recent-movies .movie-title {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
  color: #ffba4c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#recent-movies .movie-overview {
  font-size: 0.9rem;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.slider-buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}

.slider-buttons button {
  padding: 16px 24px;
  margin: 0 4px;
  border: 1px solid #ffba4c;
  border-radius: 20px;
  background-color: transparent;
  color: #ffba4c;
  cursor: pointer;
}

#category .movies {
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  list-style: none;
}
#category h2 {
  margin: 0;
}
.category-con {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-bottom: 20px;
}

.category-btn {
  margin: 5px;
  padding: 10px 10px;
  background-color: #000;
  color: #a8a8a8;
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
  border: none;
}
.category-btn:active {
  color: #ffba4c;
}

#movies-con::after,
#recent-movies::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: #a8a8a8;
}

.movies li img,
#recent-movies .movie-poster,
#category .movies img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#recent-movies .movie-item.active .movie-poster {
  height: 400px;
}

.pagination button {
  padding: 16px 24px;
  margin: 0 4px;
  border: 1px solid #ffba4c;
  border-radius: 20px;
  background-color: transparent;
  color: #ffba4c;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination button:hover {
  background-color: #ffba4c;
  color: white;
}

.pagination button.active {
  background-color: white;
  color: #ffba4c;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-con {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
  color: #fff;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.modal-content {
  display: flex;
  gap: 20px;
}

.modal-poster {
  max-width: 300px;
  height: auto;
}

.movie-detail {
  flex: 1;
}

.movie-detail h2 {
  color: #ffba4c;
  padding: 0;
  margin-bottom: 10px;
  text-align: left;
}

.movie-detail p {
  margin-bottom: 10px;
}

.review-con {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

#review-input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.confirm-btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
